{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.old_password.label }}
        {{ form.old_password(class="form-control", type="password") }}
        {% for error in form.old_password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.new_password.label }}
        {{ form.new_password(class="form-control", type="password") }}
        {% for error in form.new_password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.new_password_again.label }}
        {{ form.new_password_again(class="form-control", type="password") }}
        {% for error in form.new_password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message_bool %}
    <div class="btn btn-danger"> {{ message }}</div>
    {% endif %}
</form>
{% endblock %}