{% extends "base.html" %}

{% block content %}
<h1>Create Lobby</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.img_src.label }}<br>
        {{ form.img_src(class="form-control") }}<br>
        {% for error in form.img_src.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% if message %}
    <p class="alert alert-danger">{{ message }}</p>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}