{% extends "base.html" %}

{% block content %}
<h1>Clan List</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
    <p>
        {{ form.name.label }}
        {{ form.name(class="form-control", type="map") }}
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    {% if message %}
    <p class="alert alert-danger">{{ message }}</p>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </p>
</form>
<div>
    <br>
    {% for item in clans %}
    <p style="margin: 2px;"><a href="/clan_info/{{ item['clan_id'] }}" class="btn btn-secondary">{{ item['clan_name'] }}: {{ item['size']}}/50</a></p>
    {% endfor %}
    <br>
</div>
<p>
    <a href="/create_clan" class="btn btn-primary">Create Clan</a>
</p>
{% endblock %}