{% extends "base.html" %}

{% block content %}
<br><br/>
<p class="patch_head">Global Patch BlockWars 2.0:</p>
<p class="patch_mhead">>Graphics</p>
<p class="patch_txt">*New Tileset:</p>
<p style="margin-left: 15%;">
<img src="https://cdn.discordapp.com/attachments/701343081655697449/701867871155912814/grass.png" class="patch_img">
<img src="https://cdn.discordapp.com/attachments/701343081655697449/701867884732874903/forest.png" class="patch_img">
<img src="https://cdn.discordapp.com/attachments/701343081655697449/701867903116378223/mountain.png" class="patch_img">
</p>
<p class="patch_txt">*Added free camera</p>
<p class="patch_txt">*Graphics maybe set in updated settings</p>
<img src="https://cdn.discordapp.com/attachments/701343081655697449/701868443800174652/web_bg.png" class="patch_img_resized">
{% endblock %}